.hero_title {

    font-family: sans-serif;
    font-size: 32px;
    font-weight: 600;
    line-height: 38.73px;
    letter-spacing: -0.035em;
    text-align: left;

}

.content {

    font-family: sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24.5px;
    text-align: left;

}

.hero_section {
    background: #F6F6F6;
}

.hero_info {
    display: grid;
    gap: 12px;
  
}

.coll_btn {
    margin-top: 48px;
    display: flex;
    gap: 6px;
    align-items: center;
}

/* .heroic_img {
    width: 255px;
    height: 382px;
    top: 66px;
    left: 1011px;
} */
.banner_section{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  
}
.ellipse{
    /* position: relative; */
    max-width: 100%;
    width: 100%;
}
.heroic_img{
    position: absolute;
    right: 20%;
    transform: translate(-50%, 50%);
    top: -33%;
    left: 61%;
    max-width: 100%;
    width: 255px;
}

.hero_image{
    padding: 66px 0px 8px 0px;
    position: relative;
    top: 23px;
}
.hero_left{
    padding : 136px 0px 136px 0px;
}
.banner_bg:after {
    content: '';
    /* background-image: (url("Burst.png")); */
    position: absolute;
    top: -31%;
    right: 0;
    width: 200px;
    height: 200px;
}




























