* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1092px;
  width: 100%;
  padding: 0 20px 0 20px;
  margin: 0 auto;
  /* border: 2px solid red; */
}

button {
  border: none;
}

/* Variables */
:root {
  /*color variables*/
  --body_color: #202533;
  --font_color: #5C5F6A;
  --text_color: #474B57;
  --input_color: #878A92;
  --heaing_color: #0E1422;
}

/* Common css */

.font_section {
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 24.5px;
  color: var(--font_color);
}

.title_section {

  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19.36px;
  text-align: left;

}

.heading_section {

  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  text-align: left;
}

